@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #050a30;
  color: white;
  scroll-behavior: smooth;
  font-family: "Playfair Display", serif;
}

html, body, section {
  overflow-x: hidden !important;
}